#Visual Studio files
.vs/
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user

#Bin files
./bin/
./bin-obj/

#glfw build
#GitIgnore is dumb, so had to do this
*.cmake
*.pc
dependancies/glfw/.vs/
dependancies/glfw/CMakeFiles
dependancies/glfw/examples/
dependancies/glfw/src/CMakeFiles
dependancies/glfw/src/glfw.dir
dependancies/glfw/tests
dependancies/glfw/x64
dependancies/glfw/CMakeCache.txt
