#Visual Studio files
.vs/
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user

#Bin files
bin/
bin-obj/

#glfw build
dependancies/glfw/
!dependancies/glfw/include/
!dependancies/glfw/src/Debug/
!dependancies/glfw/src/Release/

